<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="navigator.app"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<permission
	        android:name="navigator.app.permission.MAPS_RECEIVE"
	        android:protectionLevel="signature"/>
	<uses-permission android:name="navigator.app.permission.MAPS_RECEIVE"/>
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <activity
            android:name=".NavigatorActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="DestinationActivity"
                  android:screenOrientation="portrait">
        </activity>
         <activity
            android:name="com.group057.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden" />
        <service
            android:name="com.group057.BipsService"
            android:label="BIPS Service"
            android:process=":remote" >
        </service>
        
        
        <uses-library android:name="com.google.android.maps" />
        
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBKFuP51IpZN-qBa5Uz8TCuiggQ6t-IZ9c"/>
        
    </application>

</manifest>